<% var shortType = last_url_segment(rdf_attr("rdf:type")) %>
<td><%= shortType %></td>
<td>
  <% if (shortType === 'WorkflowConfig') { %>
  <div class="btn-group btn-group-vertical">
    <a class="btn btn-success edit-config" href="#/config-edit/<%= model.id %>">Edit Config</a>
    <% if (rdf_attr("omnom:workflow")) { %>
      <a class="btn btn-success edit-workflow" href='#/workflow-edit/<%= rdf_attr("omnom:workflow").id %>'>Edit Workflow</a>
    <% } %>
  </div>
  <% } %>
</td>
<td><%= model.id %></td>
<td><%= rdf_attr("rdfs:label") %></td>
<td>
  <% if (shortType === 'WorkflowConfig') { %>
    <%= rdf_attr("omnom:workflow") ? rdf_attr("omnom:workflow").id : '???????' %>
  <% } %>
</td>
<td>
  <% if (rdf_attr("dcterms:creator")) { %>
  <a class="btn btn-info">User <%= last_url_segment(rdf_attr("dcterms:creator").id) %></a>
  <% } else if(rdf_attr("prov:wasGeneratedBy")) { %>
    <a class="btn btn-success" href="#job/<%= rdf_attr('prov:wasGeneratedBy').id %>">View Job</a>
  <% } %>
</td>
<td sorttable_customkey='<%= rdf_attr("dcterms:modified") %>'>
  <%= human_readable_date(rdf_attr("dcterms:modified")) %>
</td>
<td>
</td>
