<div class="row" id="config-editor-page">
    <div class="span2">
      <div class="btn-group-vertical">
        <button id="save-config" class="btn btn-success">Save</button>
        <button id="validate-config" class="btn btn-info">Validate</button>
        <button id="run-config" class="btn btn-warning">Execute</button>
    </div>
  </div>
    <div class="span9">
        Configuration URL: <%= model.id %>
        <br/>
        For Workflow: <a href="#workflow-edit/<%= workflowURL %>"><%= rdf_attr("omnom:webservice").id %></a>
        <br/>
        Config Label: <input class="span7" type="text" id="config-label" placeholder="Description for this configuration" value='<%= rdf_attr("rdfs:label") %>' />
    </div>
</div>
<div class="row">
    <div class="span2">
      <div>
        <h3>Services</h3>
        <ul id="config-resource-nav" class="nav nav-pills nav-stacked">
        </ul>
      </div>
    </div>
    <div class="resource-list tab-content span6">
      <h3>Resources</h3>
    </div>
    <div class="span4">
        <h3>Parameters</h3>

        <div class="parameter-assignment-list"></div>

    </div>
</div>
