<% console.error(obj) %>
<div class="row">
    <div class="span3">
        <button id="save-config" class="btn btn-success">Save</button>
        <button id="run-config" class="btn btn-warning"><span>&nbsp;</span> Run!</button>
        <a href="#workflow-edit/<%= rdf_attr('omnom:workflow').id %>" class="btn btn-primary">Edit Workflow</a>
    </div>
    <div class="span9">
        Configuration URL : <%= model.id %>
        <br/>
        For Workflow: <%= rdf_attr("omnom:workflow").id %>
    </div>
</div>
<div class="row">
    <div class="span3">
        <h1>Resources</h1>

        <div class="resource-list"></div>
    </div>
    <div class="span6">
        <h1>Parameters</h1>

        <div class="parameter-assignment-list"></div>
    </div>
    <div class="span3">

    </div>
</div>
