<dt>
    <%= last_url_segment(rdf_attr("omnom:forParam").id) || "THIS SHOULD HAVE AN ID" %>
</dt>
<dd>
    <form class="form-horizontal parameter-assignment">
        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="paramValue">Parameter Value</label>

            <div class="controls">
                <input id="paramValue" name="paramValue" type="text"
                       placeholder='<%= rdf_attr("omnom:parameterValue") %>'
                       class="input-xlarge">
                <!--<p class="help-block">help</p>-->
            </div>
        </div>
    </form>
</dd>
