dm2e.ws.sparql_endpoint = $$$DM2E_SPARQL_ENDPOINT_QUERY$$$
dm2e.ws.sparql_endpoint_statements = $$$DM2E_SPARQL_ENDPOINT_UPDATE$$$
dm2e.ws.server.host = $$$DM2E_HOSTNAME$$$
dm2e.ws.server.port = $$$DM2E_PORT$$$
dm2e.ws.base_uri = $$$DM2E_BASE_URI$$$
dm2e.service.mint-file.username = $$$MINT_USERNAME$$$
dm2e.service.mint-file.password = $$$MINT_PASSWORD$$$
dm2e.service.job.base_uri = $$DM2E_BASE_URI$$$/job
