<div class="hover-grp">
    <h4>
    <span class="pull-left" data-backbone-modelid-ref="<%= from_cid %>">
        <a href="<%= from_id %>">
            <% if (is_from_workflow) { %>
            WF
            <% } else { %>
            POS #<%= last_url_segment(rdf_attr('omnom:fromPosition').id) %>
            <% } %>
        </a>
    </span>
        &rarr;
        <div class="button-group pull-right show-hover">
            <button class="btn btn-danger btn-mini remove-connector"><i class="icon-trash icon-white">&nbsp</i></button>
        </div>
    <span class="pull-right" data-backbone-modelid-ref="<%= to_cid %>">
        <a href="<%= to_id %>">
            <% if (is_to_workflow) { %>
            WF
            <% } else { %>
            POS #<%= last_url_segment(rdf_attr('omnom:toPosition').id) %>
            <% } %>
        </a>
    </span>

    </h4>
    <div style="text-align: center">
        <span data-backbone-modelid-ref="<%= from_cid %>" class="pull-left">
            <a data-backbone-modelid-ref="<%= rawModel.getQN('omnom:fromParam').cid %>"
               href="<%= rdf_attr('omnom:fromParam').id %>">
                <%= rawModel.getQN('omnom:fromParam').getQN('rdfs:label') %>
            </a>
        </span>

        &rarr;

        <span data-backbone-modelid-ref="<%= to_cid %>" class="pull-right">
            <a data-backbone-modelid-ref="<%= rawModel.getQN('omnom:toParam').cid %>"
               href="<%= rdf_attr('omnom:toParam').id %>">
                <%= rawModel.getQN('omnom:toParam').getQN('rdfs:label') %>
            </a>
        </span>
    </div>
</div>
