<div class="hover-grp boxed-item">
    <!--<small style="font-size: xx-small" class="show-hover"><%= model.id %></small>-->
    <div class="btn-group-vertical show-hover pull-right">
        <button class="edit-parameter btn btn-small btn-info">
            <i class="icon-edit icon-white">&nbsp;</i>
        </button>
        <button class="remove-parameter btn btn-small btn-danger">
            <i class="icon-trash icon-white">&nbsp;</i>
        </button>
    </div>
    <h4><%= rdf_attr("rdfs:label") %></h4>
    <% if (rdf_attr("omnom:defaultValue")) { %>
      <dl class="dl-horizontal">
          <dt>Default:</dt>
          <dd><%= rdf_attr("omnom:defaultValue") %></dd>
      </dl>
      <% } %>
</div>
