<!-- Form Name -->
<legend>Edit Parameter</legend>

<!-- Text input-->
<div class="control-group">
	<label class="control-label" for="rdfs:label">Parameter Label</label>
	<div class="controls">
		<input name="rdfs:label" id="rdfs:label" type="text"
			value='<%= rdf_attr("rdfs:label") %>' class="input-xlarge">
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="omnom:defaultValue">Default Value</label>
	<div class="controls">
		<input id="omnom:defaultValue" name="omnom:defaultValue" type="text"
			value='<%= rdf_attr("omnom:defaultValue") %>' class="input-xlarge">
	</div>
</div>
<!-- Multiple Radios -->
<div class="control-group">
	<label class="control-label" for="omnom:isRequired">Required Parameter?</label>
	<div class="controls" id="omnom:isRequired">
		<label class="radio" for="required-0">
			<input type="radio" name="omnom:isRequired" id="required-0" value="false" checked="checked">
			Not Required
		</label>
		<label class="radio" for="required-1">
			<input type="radio" name="omnom:isRequired" id="required-1" value="true">
			Required
		</label>
	</div>
</div>

</form>
