<div class="hover-grp">
    <h4 class="clearfix">
   <span class="pull-left">
        #<%= last_url_segment(model.id) %>
   </span>
   <span class="pull-right">
        <%= url_path(rdf_attr("omnom:webservice").id) %>
   </span>
    </h4>

    <div class="btn-group pull-right show-hover">
        <button class="btn btn-small btn-info set-first">
            <i class="icon-arrow-up icon-white">&nbsp;</i>
        </button>
        <button class="btn btn-small btn-danger remove-position">
            <i class="icon-trash icon-white">&nbsp;</i>
        </button>
    </div>
    <dl>
        <span class="foo"> </span>
        <dt>Input Parameters</dt>
        <dd>
            <ul class="list-container input-params"></ul>
        </dd>
        <dt>Output Parameters</dt>
        <dd>
            <ul class="list-container output-params"></ul>
        </dd>
        <!-- </dl> -->
</div>
