<% var uid="webservice_" + unique_id() %>
<h4 data-toggle="collapse" data-target="#<%= uid %>"><%= rdf_attr("rdfs:label") %></h4>
<div class="foo collapse" id="<%= uid %>">
    Input Params:
    <ul>
        <% _.each(rdf_attr("omnom:inputParam").models, function(param) { %>
        <li>
            <%= rdf_attr("rdfs:label", param) %>
        </li>
        <% }); %>
    </ul>
    Output Params:
    <ul>
        <% _.each(rdf_attr("omnom:outputParam").models, function(param){ %>
        <li>
            <%= rdf_attr("rdfs:label", param) %>
        </li>
        <% }); %>
    </ul>
</div>
