<div class="row">
  <div class="span3">
    <div class="btn-group">
      <button id="save-workflow" class="btn btn-small btn-success"><span>&nbsp;</span>Save Workflow</button>
      <button id="create-config" class="btn btn-small btn-success"><span>&nbsp;</span>Create config</button>
    </div>
    <div class="btn-group" style="margin: 0 10%">
      <button id="visualize" class="btn btn-small btn-info"><span>&nbsp;</span>Visualize</button>
      <button id="render" class="btn btn-small btn-warning">Re-render</button>
    </div>
  </div>
  <a href="<%= model.id %>"><%= model.id %></a>
  <br/>
  <input 
  class="form-control span6" 
  type="text"
  id="workflow-label" 
  placeholder="Enter description"
  value='<%= rdf_attr("rdfs:label") %>' />
</div>

<div class="row">
    <div class="span3 workflow-parameter-list">
        <div>
            <h3>Input Params</h3>
            <div id="workflow-input-parameter-list" class="">I MUST LOAD</div>
            <h3>Output Params</h3>
            <div id="workflow-output-parameter-list" class="">I MUST LOAD</div>
        </div>
    </div>
    <div class="span4">
        <h3>Positions</h3>
        <div id="workflow-position-list">I MUST LOAD</div>
    </div>
    <div class="span3">
        <h3>Connectors</h3>
        <div id="workflow-connector-list">I MUST LOAD</div>
    </div>
    <div class="span2">
        <h3>Webservices</h3>
        <div id="workflow-webservice-list"> I MUST LOAD </div>
    </div>
</div>
