<td>
  <div class="btn-group btn-group-vertical">
    <a class="btn btn-success btn-small" href="#workflow-edit<%= url_path(model.id) %>">Edit</a>
    <a class="btn btn-small" href="<%= model.id %>">Download</a>
  </div>
</td>
<td>
    <a href="#workflow-edit<%= url_path(model.id) %>"><%= last_url_segment(model.id) %></a>
</td>
<td>
    <%= rdf_attr("rdfs:label") %>
</td>
<td>
    <%= rdf_attr("omnom:workflowPosition").length %>
</td>
<td>
    <%= rdf_attr("omnom:parameterConnector").length %>
</td>
<td>
    <%= rdf_attr("dcterms:creator") ? last_url_segment(rdf_attr("dcterms:creator").id) :  'UNKNOWN' %>
</td>
<td>
    <%= rdf_attr("dcterms:modified") ? human_readable_date(rdf_attr("dcterms:modified")) : 'UNKNOWN' %>
</td>
