/*
 * Imports
 */
@import url("styles.less");
@import url("../vendor/bootstrap-notify/css/bootstrap-notify.css");
/*
 * Variables
 */

/*
 * Mixins
 */
.fat-border(@color) {
  border: 2px solid @color;
}

.dark-border-solid-content(@color) {
  .border-radius(20px);
  border: 3px solid @color - #444 !important;
  background-color: @color;
}

/*
 * Styling
 */
.drop-active {
  .dark-border-solid-content(@drop-active-color);
}

.drop-hover {
  .dark-border-solid-content(@drop-hover-color);
}

.main-menu {
  a {
    color: @mainMenuLinkColor;
  }
}

.highlight {
  .dark-border-solid-content(@highlightFirstLevel);
  .parameter.highlight {
      background-color: @highlightSecondLevel !important;
      * {
          background-color: @highlightSecondLevel !important;
      }
  }
}

div.loading-indicator {
  background-image: @loadIndicator;
  background-repeat: repeat-x;
  height: 50px;
  max-width: 20 * 24px;
}
span.loading-indicator {
  background-image: @loadIndicator;
  min-width: 1 * 24px;
  float: left;
  background-repeat: no-repeat;
}

dl {
  margin: 5px 0;
  overflow: hidden;
}

.boxed-item {
  h4 {
    margin: 0;
    //    border-bottom: 1px solid black ;
    padding: 2px;
    background: @lightGray;
    text-align: center;
  }
}

.list-container {
  >div {
    .fat-border(red);
    .border-radius(10px);
    overflow: auto;
    margin: 2px;
  }
  .dl-horizontal {
    overflow: hidden;
    dd {
      margin-left: 100px;
    }
    dt {
      width: 80px;
    }
  }
}

#workflow-position-list {
  min-height: 400px;
}

.status-FINISHED {          color: @fgStatus-FINISHED; }
.status-NOT_STARTED {       color: @fgStatus-NOT_STARTED; }
.status-FAILED {            color: @fgStatus-FAILED; }
.status-bg-FINISHED {       background-color: @bgStatus-FINISHED; }
.status-bg-NOT_STARTED {    background-color: @bgStatus-NOT_STARTED; }
.status-bg-FAILED {         background-color: @bgStatus-FAILED; }

/*
 disable transition animation of progress bars
 */
.progress .bar {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

/*dl {
  overflow: hidden;
}*/

.tab-content {
  max-height: 450px;
}

.resource-list .file {
  /* border: 1px solid @color; */
}
.file span.fileType {
  float: right;
}
.file span.fileOwner {
 float: right;
}
.ui-draggable-dragging {
  background: @drag-active-color;
}

span.filter-heading {
    font-weight: bold;
    margin-right: 2em;
}

.filtered {
    display: none;
}

.filter-bar {
    color: #317eac;
    padding-left: 1em;
}

#mystuff-filter {
    margin: 0 0 3px;
}

*[data-forParam="workflow"]     { display: none; }
*[data-forParam="completeLog"]  { display: none; }
*[data-forParam="jobTimeout"]   { display: none; }
*[data-forParam="pollInterval"] { display: none; }
