@import url('fonts/Telex.css');

@import url('../vendor/bootswatch/cerulean/bootstrap.css');

@import url("../vendor/bootstrap-notify/css/bootstrap-notify.css");
/*
 * Imports
 */
/* @import url('bootstrap.css'); */
/* Fonts */
/* @import url('//fonts.googleapis.com/css?family=Sonsie+One'); */
/* @import url('//fonts.googleapis.com/css?family=Lobster|Cabin:400,700'); */
/* Library CSS */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-file {
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
.fileupload {
  margin-bottom: 9px;
}
.fileupload .uneditable-input {
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
  cursor: text;
}
.fileupload .thumbnail {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: center;
}
.fileupload .thumbnail > img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
}
.fileupload .btn {
  vertical-align: middle;
}
.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
  display: none;
}
.fileupload-inline .fileupload-controls {
  display: inline;
}
.fileupload-new .input-append .btn-file {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.thumbnail-borderless .thumbnail {
  border: none;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.fileupload-new.thumbnail-borderless .thumbnail {
  border: 1px solid #ddd;
}
.control-group.warning .fileupload .uneditable-input {
  color: #a47e3c;
  border-color: #a47e3c;
}
.control-group.warning .fileupload .fileupload-preview {
  color: #a47e3c;
}
.control-group.warning .fileupload .thumbnail {
  border-color: #a47e3c;
}
.control-group.error .fileupload .uneditable-input {
  color: #b94a48;
  border-color: #b94a48;
}
.control-group.error .fileupload .fileupload-preview {
  color: #b94a48;
}
.control-group.error .fileupload .thumbnail {
  border-color: #b94a48;
}
.control-group.success .fileupload .uneditable-input {
  color: #468847;
  border-color: #468847;
}
.control-group.success .fileupload .fileupload-preview {
  color: #468847;
}
.control-group.success .fileupload .thumbnail {
  border-color: #468847;
}
/* Variables */
/* @import url('variables.less'); */
/* Hover groups */
/*
    http://getkickstrap.com/extras/permalink/hover-tools-472544
*/
.hover-grp .show-hover {
  display: none;
}
.hover-grp .cloak-hover {
  zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.hover-grp:hover .hide-hover {
  display: none;
}
.hover-grp:hover .show-hover {
  display: inherit;
}
.hover-grp:hover .cloak-hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
input[type="text"].hover-border {
  border-color: transparent;
  -webkit-box-shadow: inset 0px 0px 0px;
  -moz-box-shadow: inset 0px 0px 0px;
  box-shadow: inset 0px 0px 0px;
}
input[type="text"].hover-border:hover,
input[type="text"].hover-border:focus {
  border-color: #999999;
}
html.lt-ie8 .hover-grp:hover .show-hover {
  display: inline-block;
}
/* Omnom style */
/*
 * Variables
 */
/*
 * Mixins
 */
/*
 * Styling
 */
.drop-active {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 3px solid #bbbb88 !important;
  background-color: #ffffcc;
}
.drop-hover {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 3px solid #88bb88 !important;
  background-color: #ccffcc;
}
.main-menu a {
  color: #ffffff;
}
.highlight {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 3px solid #bbbb99 !important;
  background-color: #ffffdd;
}
.highlight .parameter.highlight {
  background-color: #eeee00;
}
div.loading-indicator {
  background-image: url(../img/pacman-black.gif);
  background-repeat: repeat-x;
  height: 50px;
  max-width: 480px;
}
span.loading-indicator {
  background-image: url(../img/pacman-black.gif);
  min-width: 24px;
  float: left;
  background-repeat: no-repeat;
}
dl {
  margin: 5px 0;
  overflow: hidden;
}
.boxed-item h4 {
  margin: 0;
  padding: 2px;
  background: #eeeeee;
  text-align: center;
}
.list-container > div {
  border: 2px solid #ff0000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: auto;
  margin: 2px;
}
.list-container .dl-horizontal {
  overflow: hidden;
}
.list-container .dl-horizontal dd {
  margin-left: 100px;
}
.list-container .dl-horizontal dt {
  width: 80px;
}
#workflow-position-list {
  min-height: 400px;
}
.status-FINISHED {
  color: #00aa00;
}
.status-NOT_STARTED {
  color: #aaaa00;
}
.status-FAILED {
  color: #aa0000;
}
/*
 disable transition animation of progress bars
 */
.progress .bar {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
/*dl {
  overflow: hidden;
}*/
