@import url('fonts/Telex.css');
@import url('../vendor/bootswatch/cerulean/bootstrap.css');

@drop-hover-color: #cfc;
@drop-active-color: #ffc;
@mainMenuLinkColor: #fff;
@highlightFirstLevel : #ffd;
@highlightSecondLevel: #ee0;
@lightGray: #eee;
@fgStatus-FINISHED: #0a0;
@fgStatus-NOT_STARTED: #aa0;
@fgStatus-FAILED: #a00;
@loadIndicator: url(../img/pacman-black.gif);

@import url("style.less");
