<div class="file">
	<!--<strong><%= rdf_attr("omnom:originalName") %></strong>-->
    <!--FOOFOFOFO-->
	<!--<br />-->
	<!--Size: <%= rdf_attr("dcterms:extent") %>-->
	<!--<br />-->

	<!--<br />-->
	<!--Status: <%= rdf_attr("omnom:fileStatus") %>-->
	<!--<br />-->
	<!--Content-Type: <%= rdf_attr("dcterms:format") %>-->
	<!--<br />-->
    <strong><%= rdf_attr("rdfs:label") || model.id %></strong>
    <span class="fileType"><%= last_url_segment(rdf_attr("omnom:fileType")) %></span>
    <br/>
    <span class="lastUpdated"><%= human_readable_date(rdf_attr("dcterms:modified")) %></span>
    <span class="fileOwner"><%= rdf_attr("omnom:fileOwner") ? last_url_segment(rdf_attr("omnom:fileOwner").id) : "UNKNOWN" %>
    </span>
    <!--
	<a class="btn btn-download" href='<%= rdf_attr("omnom:fileRetrievalURI") %>'>
		<i class="icon-download">&nbsp;</i>
		Download
	</a>
	-->
</div>
