<% console.log(obj) %>
<td>
  <div class="btn-group btn-group-vertical">
    <a class="btn btn-file-edit btn-small"
      href='<%= rdf_attr("omnom:fileEditURI") %>'>
      <!--         href="<% if (obj.edit_url) { %><%= obj.edit_url %><% } else { %>editor?id=<%= obj.id %><% } %>">
 -->
      <i class="icon-edit">
        &nbsp;
      </i>
      edit
    </a>
    <a class="btn btn-danger btn-file-delete disabled btn-small">
      <i class="icon-trash">
        &nbsp;
      </i>
      delete
    </a>
    <a class="btn btn-download btn-small"
      href='<%= rdf_attr("omnom:fileRetrievalURI") %>'>
      <i class="icon-download">
        &nbsp;
      </i>
      Download
    </a>
  </div>
</td>
<td>
  <%= rdf_attr("omnom:originalName") %>
</td>
<!-- 	
<br />
 -->
<!-- 	Owner: <%= obj.owner %> -->
<!-- 	
<br />
 -->
<!-- 	Upload Date: rdf_attr("omnom:uploadDate") %> -->
<td>
  <%= human_readable_size(rdf_attr("dcterms:extent")) %>
</td>
<td sorttable_customkey='<%= rdf_attr("dcterms:modified") %>'>
  <%= human_readable_date(rdf_attr("dcterms:modified")) %>
</td>
<td>
  <%= NS.shorten(rdf_attr("omnom:fileType")) %>
</td>
<td>
  <%= rdf_attr("omnom:fileStatus") %>
</td>
<td>
  <%= rdf_attr("dcterms:format") %>
</td>
<td>
  <%= rdf_attr("omnom:fileOwner") ? last_url_segment(rdf_attr("omnom:fileOwner").id) : "UNKNOWN" %>
</td>
<td>
  <%= model.id %>
</td>
<td>
</td>
