<div class="row">
    <div class="span12">
        <h2>File Manager</h2>
        Select one of your registered file services:
        <ul>
            <%console.log(obj.session.user)%>
            <% var fileservice_list = rdf_attr("omnom:fileservice", session.user); %>
            <% fileservice_list = fileservice_list.sort(function(a,b){return a.id >= b.id ? a : b; }); %>
            <% _.each(fileservice_list, function(service) { %>
            <li>
                <a href="#file-list/<%= service %>"><%= service %></a>
            </li>
            <% }) %>
        </ul>
    </div>
</div>
<div class="row">
    <div class="file-list span15"></div>
</div>
