<div class="row">
    <div class="span12">
        <h2>File Manager</h2>
        Select one of your registered file services:
        <ul>
            <%console.log(obj.session.user)%>
            <% _.each(rdf_attr("omnom:fileservice", session.user), function(service) { %>
            <li>
                <a href="#file-list/<%= service %>"><%= service %></a>
            </li>
            <% }) %>
        </ul>
    </div>
</div>
<div class="row">
    <div class="file-list span15"></div>
</div>
