<h2>List of files on <%= serviceURL %></h2>
<div class="filter-bar">&nbsp;</div>
<div class="loading-indicator">&nbsp;</div>
<table class="file-table table table-striped sortable">
    <thead>
    <tr>
        <th>Actions</th>
        <th>Filename</th>
        <th>Size</th>
        <th>Upload Date</th>
        <th>File Type</th>
        <!-- <th>Status</th> -->
        <th>Owner</th>
        <th>Media Type</th>
        <th>ID</th>
    </tr>
    </thead>
    <tbody class="file-list">

    </tbody>
</table>
