<% console.log( obj ) %> Name:
<td>
<a class="btn btn-file-edit"
   href='<%= rdf_attr("omnom:fileEditURI") %>'>
    <!--         href="<% if (obj.edit_url) { %><%= obj.edit_url %><% } else { %>editor?id=<%= obj.id %><% } %>"> -->
    <i class="icon-edit">&nbsp;</i>
    edit
</a>
<button class="btn btn-danger btn-file-delete disabled">
    <i class="icon-trash">&nbsp;</i>
    delete
</button>
<a class="btn btn-download" href='<%= rdf_attr("omnom:fileRetrievalURI") %>'>
    <i class="icon-download">&nbsp;</i>
    Download
</a>
</td>
<td>
    <%= rdf_attr("omnom:originalName") %>
</td>
<!-- 	<br /> -->
<!-- 	Owner: <%= obj.owner %> -->
<!-- 	<br /> -->
<!-- 	Upload Date: rdf_attr("omnom:uploadDate") %> -->
<td>
    <%= human_readable_size(rdf_attr("dcterms:extent")) %>
</td>
<td>
    <%= rdf_attr("dcterms:modified") %> ??
</td>
<td>
    <%= rdf_attr("omnom:fileType") %> ??
</td>
<td>
    <%= rdf_attr("omnom:fileStatus") %>
</td>
<td>
    <%= rdf_attr("dcterms:format") %>
</td>
<td>
    <%= rdf_attr("omnom:fileOwner") %>
</td>
<td>
    <%= model.id %>
</td>
<td>
</td>
