<% var shortType = NS.shorten(rdf_attr("rdf:type")) %>
<td
  data-filter-property='<%= NS.expand("rdf:type") %>'
  data-filter-value='<%= rdf_attr("rdf:type") %>'
  >
  <%= shortType %>
</td>
<td
  data-filter-property='<%= NS.expand("omnom:status") %>'
  data-filter-value='<%= rdf_attr("omnom:status") %>'
  >
  <%= rdf_attr("omnom:status") %>
</td>
<td>
  <% if (shortType === 'omnom:WorkflowJob') { %>
  <div class="btn-group">
    <a class="btn btn-success show-job" href="#job/<%= model.id %>">
      Show Job
    </a>
  </div>
  <% } %>
</td>
<td>
  <%= model.id %>
</td>
<!-- <td> -->
<!--   <%= rdf_attr("dcterms:modified") %> -->
<!-- </td> -->
<% console.log(model) %>
