<% console.log(model) %>
<%
    var isWorkflowJob = false;
    var webservice = rdf_attr("omnom:webservice");
    implementationID = rdf_attr("omnom:implementationID", webservice);
    if (implementationID && implementationID === "eu.dm2e.ws.services.workflow.WorkflowExecutionService") {
        isWorkflowJob = true;
    }
%>
<% var shortType = NS.shorten(rdf_attr("rdf:type")) %>
<td
  data-filter-property='<%= NS.expand("rdf:type") %>'
  data-filter-value='<%= rdf_attr("rdf:type") %>'
  >
  <%= shortType %>
</td>
<td
  data-filter-property='<%= NS.expand("rdfs:label") %>'
  data-filter-value='<%= rdf_attr("rdfs:label") %>'
  >
  <%= rdf_attr("rdfs:label") %>
</td>
<td
  data-filter-property='<%= NS.expand("omnom:status") %>'
  data-filter-value='<%= rdf_attr("omnom:status") %>'
  >
  <%= rdf_attr("omnom:status") %>
</td>
<td>
  <% if (isWorkflowJob) { %>
  <div class="btn-group">
    <a class="btn btn-success show-job" href="#job/<%= model.id %>">
      Show Job
    </a>
  </div>
  <% } %>
</td>
<td
  data-filter-property='<%= NS.expand("dcterms:created") %>'
  data-filter-value='<%= rdf_attr("dcterms:created") %>'
  >
  <%= human_readable_date(rdf_attr("dcterms:created")) %>
</td>
<td>
  <%= model.id %>
</td>
