<% console.error( obj ) %>
<div class="row">

    <div class="span2">
        <h4>Actions</h4>
        <div class="btn-group btn-group-vertical">
            <a class="btn btn-primary btn-small" id="job-refresh">Refresh</a>
            <a class="btn btn-info btn-small" href="#workflow-edit/<%= rdf_attr('omnom:workflow').id %>"
               id="workflow-edit">Edit Workflow</a>
            <a class="btn btn-info btn-small" href="#config-edit/<%= rdf_attr('omnom:workflowConfig').id %>"
               id="config-edit">Edit Workflow Config</a>
        </div>
        <div class="position-job-list">
           <h4>Positions</h4>
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <% _.each(rdf_attr("omnom:workflowPosition", workflow), function(pos) { %>
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                POS #<%= last_url_segment(pos.id) %>
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Anim pariatur cliche...
                                <a><%= pos.id %></a>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>

    <div class="span10">
        <h2>Job <%= last_url_segment(model.id) %></h2>

        <div class="job-status">Status:
            <span class="status-<%=rdf_attr('omnom:status')%>">
                <%= rdf_attr("omnom:status") %>
            </span>
        </div>

        <div class="progress">
            <div class="bar bar-success"></div>
            <div class="bar bar-fail"></div>
        </div>
        Progress: <%= rdf_attr("omnom:finishedPosition").length %> / <%= rdf_attr("omnom:workflowPosition", workflow).length %>

        <h3>Workflow Log</h3>
        <pre id="job-log">No log messages yet ...</pre>
        <h3>Complete Workflow Log</h3>
        <pre id="workflow-complete-log">
            No log messages yet ...
            <%= rdf_attr("omnom:parameterValue", rdf_attr("omnom:assignment")[0]) %>
        </pre>


    </div>

</div>
