<div class="row">

  <div class="span2">
    <h4>Actions</h4>
    <div class="btn-group btn-group-vertical">
      <a class="btn btn-primary btn-small" id="job-refresh">Refresh</a>
      <a class="btn btn-info btn-small" href="#workflow-edit/<%= rdf_attr('omnom:workflow').id %>"
        id="workflow-edit">Edit Workflow</a>
      <a class="btn btn-info btn-small" href="#config-edit/<%= rdf_attr('omnom:workflowConfig').id %>"
        id="config-edit">Edit Workflow Config</a>
    </div>
    <!-- <div class="position-job-list"> -->
    <!--   <h4>Positions</h4> -->
    <!-- </div> -->
  </div>

  <div class="span10">
    <h2>Job <%= last_url_segment(model.id) %></h2>

    <div class="job-status">Status:
      <span class="status-<%=rdf_attr('omnom:status')%>">
        <%= rdf_attr("omnom:status") %>
      </span>
    </div>

    <div class="progress">
      <div class="bar bar-success"></div>
      <div class="bar bar-fail"></div>
    </div>
    Progress: <%= rdf_attr("omnom:finishedPosition").length %> / <%= rdf_attr("omnom:workflowPosition", workflow).length %>

    <h3>Output assignments of workflow</h3>
    <table class="table sortable">
      <tr>
        <th>Actions</th>
        <th>Parameter</th>
        <th>Value</th>
      </tr>
    <% _.each(rdf_attr("omnom:assignment"), function(ass) { %>
      <tr>
        <td>
          <div class="btn-group btn-group-vertical">
            <a class="btn">Download</a>
            <a class="btn">Show in Pubby</a>
          </div>
        </td>
        <td><%= last_url_segment(rdf_attr("omnom:forParam", ass).id) %></td>
        <td><div style="max-height: 100px; overflow: auto"><%= rdf_attr("omnom:parameterValue", ass) %></div></td>
      </tr>
    <% }); %>
    </table>

    <h3>Output assignments of positions</h3>
    <table class="table sortable">
      <tr>
        <th>Actions</th>
        <th>Parameter</th>
        <th>Value</th>
      </tr>
    <% _.each(relatedJobAssignments, function(ass) { %>
      <tr>
        <td>
          <div class="btn-group btn-group-vertical">
            <a class="btn">Download</a>
            <a class="btn">Show in Pubby</a>
          </div>
        </td>
        <td><%= last_url_segment(rdf_attr("omnom:forParam", ass).id) %></td>
        <td><%= rdf_attr("omnom:parameterValue", ass) %></td>
      </tr>
    <% }); %>
    </table>

    <h3>Log</h3>
    <div class="accordion" id="workflow-log">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" 
            data-toggle="collapse" 
            data-parent="#workflow-log"
            href="#log-workflow">
            WORKFLOW
          </a>
        </div>
        <div id="log-workflow" class="accordion-body collapse">
          <div class="accordion-inner">
            <pre id="workflow-job-log">No log messages yet ...</pre>
          </div>
        </div>
      </div>
      <% _.each(rdf_attr("omnom:workflowPosition", workflow), function(pos) { %>
      <% var uid = last_url_segment(pos.id) %>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" 
            data-toggle="collapse" 
            data-parent="#workflow-log"
            href="#log-pos<%= uid %>">
            POS #<%= last_url_segment(pos.id) %>
          </a>
        </div>
        <div id="log-pos<%= uid %>" class="accordion-body collapse">
          <div class="accordion-inner">
            <pre><%= positionLogs[pos.id] %>
            </pre>
          </div>
        </div>
      </div>
      <% }) %>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" 
            data-toggle="collapse" 
            data-parent="#workflow-log"
            href="#log-workflow-complete">
            COMPLETE WORKFLOW
          </a>
        </div>
        <div id="log-workflow-complete" class="accordion-body collapse">
          <pre id="complete-workflow-log"><%=
             html_escape(rdf_attr("omnom:parameterValue", rdf_attr("omnom:assignment")[0]) || "")
            %></pre>
        </div>
      </div>
    </div>
  </div>
</div>
