<div class="row">

  <div class="span2">
    <h4>Actions</h4>
    <div class="btn-group btn-group-vertical">
      <a class="btn btn-primary btn-small" id="job-refresh">Refresh</a>
      <a class="btn btn-info btn-small" href="#workflow-edit/<%= workflow.id.replace('^.*api/','') %>"
        id="workflow-edit">Edit Workflow</a>
      <a class="btn btn-info btn-small" href="#config-edit/<%= rdf_attr('omnom:webserviceConfig').id %>"
        id="config-edit">Edit Workflow Config</a>
    </div>
    <!-- <div class="position-job-list"> -->
    <!--   <h4>Positions</h4> -->
    <!-- </div> -->
  </div>

  <div class="span10">
    <h2><%= rdf_attr("rdfs:label") %></h2>

    <div class="job-status">Status:
      <span class="status-<%=rdf_attr('omnom:status')%>">
        <%= rdf_attr("omnom:status") %>
      </span>
    </div>
    <div class="progress">
      <div class="bar bar-success"></div>
      <div class="bar bar-fail"></div>
    </div>
    <!-- Progress: <%// rdf_attr("omnom:finishedPositions").length %> / <%// rdf_attr("omnom:workflowPosition", workflow).length %> -->

    <h3>Output assignments</h3>
    <table class="table sortable" id="workflow-assignments">
      <tr>
        <th>Actions</th>
        <th>Parameter</th>
        <th>Value</th>
      </tr>
    </table>

    <!-- <h3>Output assignments of positions</h3> -->
    <!-- <table class="table sortable" id="positions-assignments"> -->
    <!--   <tr> -->
    <!--     <th>Actions</th> -->
    <!--     <th>Parameter</th> -->
    <!--     <th>Value</th> -->
    <!--   </tr> -->
    <!-- </table> -->

    <h3>Log</h3>
    <div class="accordion" id="workflow-log">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" 
            data-toggle="collapse" 
            data-parent="#workflow-log"
            href="#log-workflow">
            WORKFLOW
          </a>
        </div>
        <div id="log-workflow" class="accordion-body collapse">
          <div class="accordion-inner">
            <pre id="workflow-job-log">No log messages yet ...</pre>
          </div>
        </div>
      </div>
      <% _.each(rdf_attr("omnom:finishedJobs"), function(job) { %>
        <% 
          $.ajax({
              async: false,
              dataType: "json",
              url: job.id,
              success: function(data) {
                job = data;
              },
          });
          var pos = rdf_attr("omnom:executesPosition", job);
          var jobStatus = rdf_attr("omnom:status", job);
          var uid = last_url_segment(job.id);
        %>
        <div class="accordion-group">
          <div class="accordion-heading status-bg-<%= jobStatus %>" >
            <a class="accordion-toggle" 
              data-toggle="collapse" 
              data-parent="#workflow-log"
              data-job-load="<%= job.id %>"
              data-job-uid="<%= uid %>"
              href="#log-job-<%= uid %>">
              POS #<%= last_url_segment(rdf_attr("omnom:executesPosition", rdf_attr("omnom:webserviceConfig", job)).id) %>
              &mdash;
              <%= last_url_segment(rdf_attr("omnom:webservice", rdf_attr("omnom:webserviceConfig", job)).id) %>
              &mdash;
              (JOB #<%= uid %>)
            </a>
          </div>
          <div id="log-job-<%= uid %>" class="accordion-body collapse">
            <div class="accordion-inner">
              <pre>Loading ...
              </pre>
            </div>
          </div>
        </div>
      <% }) %>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" 
            data-toggle="collapse" 
            data-parent="#workflow-log"
            href="#log-workflow-complete">
            COMPLETE WORKFLOW
          </a>
        </div>
        <div id="log-workflow-complete" class="accordion-body collapse">
          <pre id="complete-workflow-log">
          <% _.each(rdf_attr("omnom:assignment"), function(ass) {
            if (/\/completeLog/.test(rdf_attr("omnom:forParam", ass).id)) { %>
            <%= rdf_attr("omnom:parameterValue", ass) %>
            <% }}) %>
          </pre>
        </div>
      </div>
    </div>
  </div>
</div>
