<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <servlet>
        <servlet-name>Jersey REST Service</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>eu.dm2e.ws.OmnomApplication</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>eu.dm2e.ws.services</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Calling the DM2E-ws api -->
    <servlet-mapping>
        <servlet-name>Jersey REST Service</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <!-- <servlet-mapping> -->
        <!-- <servlet-name>default</servlet-name> -->
        <!-- <url-pattern>/static/*</url-pattern> -->
        <!-- </servlet-mapping> -->

    <!-- Make omnom JOSSO aware -->
    <login-config>

        <auth-method>FORM</auth-method>

        <form-login-config>
            <form-login-page>/login-redirect.jsp</form-login-page>
            <form-error-page>/login-redirect.jsp</form-error-page>
        </form-login-config>

    </login-config>

    <!-- Open the API for now -->
    <security-constraint>
        <web-resource-collection>
            <!-- 
                 this must match one of the values in <ignore-web-resource-collections></ignore-web-resource-collections>
                 in josso-agent-config.xml
                 -->
            <web-resource-name>public-resources</web-resource-name>

            <url-pattern>/api/*</url-pattern>

            <http-method>HEAD</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>

    </security-constraint>

    <security-constraint>

        <!-- Protect the omnom GUI  -->
        <web-resource-collection>

            <!-- [> We're going to protect this resource and make it available only to users in "role1". <] -->
            <web-resource-name>protected-resources</web-resource-name>
            <web-resource-name>Omnom GUI</web-resource-name>

            <url-pattern>/index.html</url-pattern>
            <url-pattern>/api/user/_username</url-pattern>

            <http-method>GET</http-method>

        </web-resource-collection>

        <!-- NOTE: This role names will be retrieved by Josso using the proper identity store. -->
        <auth-constraint>
            <role-name>role1</role-name>
        </auth-constraint>

        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>

    </security-constraint>
</web-app>
